@font-face {
  font-family: 'font'; /* 自定义字体名称 */
  src: url('font.ttf') format('truetype'); /* 引入字体文件的路径，可以是相对或者绝对路径 */
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F0E6;
  margin: 0;
  font-family: 'font', Arial, sans-serif; /* 将自定义字体应用在 body 元素上 */
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* 垂直居中 */
  justify-content: center;
  min-height: 100vh; /* 使内容垂直居中 */
  width: 100%;
  background-color: #315343;
}

.text {
  color: white;
  margin-top: 30px;
  font-weight: bold;
}

.text2 {
  color: white;
  margin-top: 15px;
  font-weight: lighter;
}

.question-container {
  background-color: #F7F0E6;
  border-radius: 15px; /* 圆角 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
  padding: 20px;
  max-width: 700px;
  width: 80%;
  text-align: center; /* 水平居中 */
  margin-bottom: 30px;
}

.question {
  font-size: 2em;
  margin-bottom: 20px;
  color: #444444;
  margin-top: 40px;
}

.btn-group {
  display: flex;
  justify-content: center; /* 水平居中 */
  gap: 20px; /* 按钮之间的间隙 */
  margin-top: 30px;
}

.btn {
  border-radius: 20px; /* 圆角 */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #A7DE9B;
  color: #444444;
  border: none; /* 移除默认边框 */
  cursor: pointer; /* 鼠标指针变为手型 */
}

.btn:hover {
  background-color: #3A794A; /* 悬停时的颜色 */
}

.learn-btn {
  display: none;
  background-color: #A7DE9B;
  color: #444444;
  border: none; /* 移除默认边框 */
  cursor: pointer; /* 鼠标指针变为手型 */
  border-radius: 20px; /* 圆角 */
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none; /* 移除链接默认下划线 */
  margin-top: 30px;
}

.learn-btn.active {
  display: block;
}

.learn-btn:hover {
  background-color: #3A794A; /* 悬停时的颜色 */
}

@media (max-width: 600px) {
  .question {
    font-size: 1.5em;
  }

  .btn-group {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
    max-width: 300px;
  }

  .learn-btn {
    width: 100%;
    max-width: 300px;
  }
}
